src/main/resources/nodeSchema.xsd

<!--
  ~  Copyright (c) 2017, i8c N.V. (Integr8 Consulting; http://www.i8c.be)
  ~  All Rights Reserved.
  ~  
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~  
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~  
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Values">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="value" type="valueType"></xs:element>
				<xs:element name="record" type="recordType"></xs:element>
				<xs:element name="array" type="arrayType"></xs:element>
				<xs:element name="null" type="nullType"></xs:element>
				<xs:element name="list" type="listType"></xs:element>
				<xs:element name="number" type="numberType"></xs:element>
				<xs:element name="date" type="dateType"></xs:element>
				<xs:element name="Boolean" type="booleanType"></xs:element>
			</xs:choice>
			<xs:attribute type="xs:float" name="version"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="nullType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="value" type="valueType"></xs:element>
			<xs:element name="record" type="recordType"></xs:element>
			<xs:element name="array" type="arrayType"></xs:element>
		</xs:choice>
		<xs:attribute type="xs:string" name="name" use="optional"/>
		<xs:attribute type="xs:string" name="javaclass" use="optional"/>
	</xs:complexType>
	<xs:complexType name="recordType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="value" type="valueType"></xs:element>
			<xs:element name="record" type="recordType"></xs:element>
			<xs:element name="array" type="arrayType"></xs:element>
			<xs:element name="null" type="nullType"></xs:element>
			<xs:element name="list" type="listType"></xs:element>
			<xs:element name="number" type="numberType"></xs:element>
			<xs:element name="date" type="dateType"></xs:element>
			<xs:element name="Boolean" type="booleanType"></xs:element>
			<xs:element name="byte" type="byteType"></xs:element>
		</xs:choice>
		<xs:attribute type="xs:string" name="name" use="optional"/>
		<xs:attribute type="xs:string" name="javaclass" use="optional"/>
	</xs:complexType>
	<xs:complexType name="arrayType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="value" type="valueType"></xs:element>
			<xs:element name="record" type="recordType"></xs:element>
			<xs:element name="array" type="arrayType"></xs:element>
		</xs:choice>
		<xs:attribute type="xs:string" name="name" use="optional"/>
		<xs:attribute type="xs:string" name="type" use="optional"/>
		<xs:attribute type="xs:byte" name="depth" use="optional"/>
	</xs:complexType>
	<xs:complexType name="valueType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="listType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="value" type="valueType"></xs:element>
			<xs:element name="record" type="recordType"></xs:element>
			<xs:element name="array" type="arrayType"></xs:element>
		</xs:choice>
		<xs:attribute type="xs:string" name="name" use="optional"/>
	</xs:complexType>
	<xs:complexType name="numberType">
		<xs:simpleContent>
			<xs:extension base="xs:long">
				<xs:attribute type="xs:string" name="name"/>
				<xs:attribute type="xs:string" name="type"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="dateType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="booleanType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
    <xs:complexType name="byteType">
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
</xs:schema>